.fen-board,
.pgn-board {
  width: 400px;
  max-width: 100%;
  margin: 2rem 0;
}

#board,
.pgn-board,
.board {width: 400px;}
.board-wrapper {max-width: 400px !important;}


#board *,
#board *::before,
#board *::after,
.board *,
.board *::before,
.board *::after,
.fen-board *,
.fen-board *::before,
.fen-board *::after,
.pgn-board *,
.pgn-board *::before,
.pgn-board *::after,
.board-wrapper * {
  box-sizing: content-box !important; 
}

.active-move {
  background: #ffe58a;
  border-radius: 4px;
  padding: 2px 4px;
}