.diagram {margin-top: 1rem; margin-bottom: 1rem;}

img[src*="fen.gif"] {
  width: 400px !important;
  height: auto;
}

#myBoard *,
#myBoard *::before,
#myBoard *::after,
#board *,
#board *::before,
#board *::after {
  box-sizing: content-box !important; 
}

#board {width: 400px;}
.board-wrapper {max-width: 400px !important;}
.board-wrapper * {box-sizing: content-box !important;}
FEN {display: none;}