img[src*="fen.gif"] {
  width: 400px !important;
  height: auto;
}

#myBoard *,
#myBoard *::before,
#myBoard *::after {
  box-sizing: content-box !important; 
}

.board-wrapper {max-width: 400px !important;}
.board-wrapper * {box-sizing: content-box !important;}
FEN {display: none;}
