img[src*="fen.gif"] {
  width: 350px !important;
  height: auto;
}

.pgn-viewer .board {
  width: 350px; 
  overflow: hidden; 
}

.chessboard,
.chessboard * {
  /* This ensures borders/padding are included INSIDE the element's width */
  box-sizing: border-box !important; 
  width: 350px !important;
}
